{% extends "app/layout.html" %}
{% load staticfiles %}

{% block content %}


<section>
    <div class="o_nas">
        <h2>{{ title }}.</h2>
        <h3>{{ message }}</h3>
        <h3>Добро пожаловать на сайт Автосервиса "Колесо".</h3><br/>
        <p>Применение компьютерной диагностики и других современных технических средств – гарантия профессионального подхода, точного обнаружения неполадок. Наш автосервис оказывает услуги клиентам из Пскова, Санкт-Петербурга и даже Москвы. Вы доверяете автомобиль мастерам, которые знают свое дело и готовы произвести ремонт даже самой сложной поломки. Также мы предлагаем автовладельцам воспользоваться бесконтактной мойкой.</p><br/><br/>
        <h3>Почему же выбирают именно наш автосервис???</h3>
        <p>Мастера автосервиса оказывают профессиональные услуги по ремонту, диагностике и техническому обслуживанию автомобилей любых марок и производителей. Комплексный ремонт двигателя, кузовные работы, ремонт генератора и стартера, техобслуживание – вы обращаетесь к специалистам, которые учитывают функциональные особенности транспортных средств, характеристики, предлагают лучшие варианты решения проблем. К основным преимуществам нашего автосервиса относятся:</p><br />
        <ul>
            <li>строгое соблюдение установленных сроков проведения работ, которые заранее согласовываются с каждым клиентом;</li>
            <li>после осуществления ремонта и технического обслуживания автомобиля компания предоставляет гарантийное обслуживание. Это является гарантией высокого качества оказываемых услуг, мастерства и профессионализма каждого сотрудника автомастерской;</li>
            <li>специалисты работают с автомобилями всех марок и мировых производителей;</li>
            <li>доступные цены на весь перечень услуг.</li>
        </ul><br/><br/>
        <p>В нашем автосервисе закупается техника, необходимая для оказания всего перечня ремонтных услуг:</p><br />
        <ul>
            <li>диагностический стенд с компьютерным оборудованием, сканером;</li>
            <li>стенд для регулировки развал-схождения с датчиками;</li>
            <li>шиномонтажное оборудование;</li>
            <li>сварочное оборудование;</li>
            <li>мотор-тестер;</li>
            <li>оборудование для рихтовки;</li>
            <li>краскопульт;</li>
            <li>подъемники;</li>
            <li>домкраты и др.</li>            
        </ul><br/><br />
        <p>Нас можно найти по адресу г.Псков ул.Леона Поземского д.11 Предварительная запись или консультация по телефону +79922341767. Ждем у нас с вашей "ласточкой".</p>
    </div>   
</section>
{% endblock %}

