{% extends "app/layout.html" %}

{% block content %}
{% load staticfiles %}

<div class="o_nas">
    <h2>{{ title }}.</h2>
    <h3>{{ message }}</h3>

    <section>
        <div class="videopost">
            <h1>Видеоролик 1</h1>
            <VIDEO src="/media/rem1.mp4" controls="controls" width="400" height="300" poster="/media/rem1.jpg"></VIDEO>
        </div>

        <hr />

        <div class="videopost">
            <h1>Видеоролик 2</h1>
            <VIDEO src="/media/rem2.mp4" controls="controls" width="400" height="300" poster="/media/rem2.jpg"></VIDEO>
        </div>
    </section>
</div>
{% endblock %}